<html>
   <body>      
      <form action = "/result" method = "GET">
         <input type="text" name="originalURL" placeholder="Enter your Full URL here">
         <input type = "submit" value = "Submit">
      </form>      
   </body>
</html>